body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.zagrug {
    font-color: #3BC1CA;
}
.cc {
    /*color: #f2a900*/
    color: #bed600;
    /*color: #3BC1CA;*/
    /*color: #fff;*/
}
.bb {
    color: #27A6A8;
}
.s7-loader{
    display: inline-block;
    width:40px;
    height:40px;
    background-image: url('/assets/img/s7-icon.png');
    background-size:40px;
    vertical-align: top;
    margin-right: 20px;
    -webkit-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

#import-info {
    line-height: 40px;
    vertical-align: middle;

}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }